<% layout('layouts/boilerplate') -%>
<h1> <%=currentUser.username %>'s Profile</h1>

<p>Recent Posts: </p>

<%posts.forEach(function(post){ %>
  <div class="">
    <a href="/posts/<%post.id%>"><%= post.title%></a>
  </div>
<%});%>

<h3>Update Info</h3>
<form  action="/profile?_method=PUT" method="post" >
  <div class="">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"
    placeholder="username" value="<%= currentUser.username%>" autofocus required>
  </div>

  <div class="">
    <label for="current-password">Current Password (required to update profile):</label>
    <input type="password" id="current-password" name="currentPassword"
    placeholder="current password" required>
  </div>

  <div class="">
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="newPassword" placeholder="new password">
  </div>

  <div class="">
    <label for="password-confirmation">Password Confirmation:</label>
    <input type="password" id="password-confirmation" name="passwordConfirmation" placeholder="password confirmation">
  </div>

  <div id="validation-message"></div>

  <div class="">
    <label for="email">Email:</label>
    <input type="text" id="email "name="email" placeholder="email"
    value="<%=currentUser.email%>">
  </div>

  <div class="">
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" >
  </div>

  <input type="submit" id="update-profile">
</form>

<script src="/javascripts/profile.js"></script>
