<%layout('layouts/boilerplate') -%>

<h1>Forgot Password</h1>

<form action="/forgot-password?_method=PUT" method="post">
  <div class="">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" autofocus>
  </div>
  <div class="">
    <input type="submit" name="" value="Reset Password">
  </div>
</form>
